body {
	background-color: white;
	margin:0 0 0 0;
	
}
* {
	box-sizing: border-box;
}

li a{
	display: block;
}
div.header {

	padding: 15px;
	background-color: red;
	color: black;
	margin:0 0 0 0;
	float:right;
	width:80%;
}

div.menu {

	width:20%;
	background-color: red;
	position: fixed;
	height: 100%;
	margin: 0 0 0 0;

}

div.content {

	width: 80%;
	margin: 0 0 0 20%;

}

div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.menu li {
    padding: 8px;
    margin: 4px;
    background-color: #33b5e5;
    color: #ffffff;
}
div.menu li:hover {
    background-color: #0099cc;
}

div.footer {

	padding: 15px;
	background-color: red;
	color: black;
	margin:0 0 0 0;
	float:right;
	width: 80%;
}
article {
	padding: 1em;
}